/node_modules
/public/hot
/public/css/assets/prepros-6.config
/public/storage
/public/js/app.js.map
/public/js/manifest.js.map
/public/js/vendor.js.map
/public/css/app.css.map
/storage/*.key
/vendor
/docker/php
/docker/web/public
/docker/web/storage
/.idea

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.rnd

package-lock.json
public/mix-manifest.json
public/css/app.css
public/js/app.js
public/js/app.js.LICENSE.txt
public/js/manifest.js
public/js/app.js.LICENSE
public/js/vendor.js
public/js/vendor.js.LICENSE
public/js/vendor.js.LICENSE.txt
public/scripts
public/vendor/horizon

_ide_helper.php
.sentryclirc

.vscode/*
composer.lock

public/fonts/vendor/slick-carousel/*


/storage/myCA.pem
.DS_Store
public/.DS_Store
public/img/.DS_Store
pricing/.DS_Store
public/flags/.DS_Store
public/img/banner/.DS_Store
public/img/email/.DS_Store
public/img/icon/.DS_Store
public/img/illustrations/.DS_Store
public/img/layout/.DS_Store
public/img/logo/.DS_Store
public/img/svg/.DS_Store
resources/.DS_Store
resources/js/.DS_Store
resources/js/assets/.DS_Store
resources/js/assets/i18n/.DS_Store
resources/js/pages/.DS_Store
resources/js/pages/EmailEditor/.DS_Store
resources/js/pages/EmailEditor/components/.DS_Store
public/js/vendor/*
public/[0-9][0-9].*
public/[0-9][0-9][0-9].*
public/[0-9].*
public/js/vendor~2.*
/public/mix.js.map
/public/css/app/*

resources/js/assets/i18n/.cache/*
!resources/js/assets/i18n/.cache/.gitignore

public/main.js
